@import "../../styles/base/base";
@import "../../styles/mixins/mixins";

.movie-card {
  align-items: center;
  background-color: $color-white;
  border-radius: $border-radius-base;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.25);
  height: auto;
  margin: 1.5rem;
  transition: all 0.1s ease-out;
  width: 24rem;

  &:hover {
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
  }

  &__image {
    background-color: $color-accent-l30;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    min-height: 33rem;
    height: 33rem;
    min-width: 24rem;
    width: 100%;
  }

  &__description {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 11rem;
    justify-content: space-around;
    padding: 0.5rem;
  }

  &__title {
    text-align: center;
    @include trim(2);
  }

  &__released {
    font-size: 1.5rem;
  }
}
