@import "../../styles/base/base";

.new-movies {
  &__title {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
