@import "../../styles/base/base";

.new-movies {
  &--collapsed {
    max-height: 53rem;
    overflow: hidden;
  }

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
