@import "../../styles/base/base";

.button {
  background-color: $color-button;
  border: none;
  border-radius: $border-radius-button;
  color: white;
  margin: 2rem auto;
  padding: 1rem 1.5rem;
  text-transform: uppercase;

  &:hover {
    background-color: darken($color-button, 7%);
  }

  &--show-all,
  &--load-more {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &--navigation {
    background: unset;
    border: unset;
    border-radius: $border-radius-base;
    color: $color-dark;
    cursor: pointer;
    font-size: $font-size-17;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;

    &:hover {
      background-color: $color-accent-l20;
    }
  }

  &--arrow-up {
    align-self: flex-end;
    background-color: rgba($color-button, .4);
    border-radius: $border-radius-round;
    bottom: 2rem;
    color: $color-white;
    cursor: pointer;
    font-size: 2rem;
    padding-bottom: 1rem;
    position: fixed;
    right: 3rem;

  }
}
