@import "../../styles/base/base";

.button {
  margin: 2rem auto;
  border: none;
  border-radius: $border-radius-button;
  padding: 1rem 1.5rem;
  background-color: $color-button;
  color: white;
  text-transform: uppercase;

  &:hover {
    background-color: darken($color-button, 7%);
  }

  &--show-all,
  &--load-more {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--navigation {
    background: unset;
    border: unset;
    border-radius: $border-radius-base;
    color: $color-dark;
    cursor: pointer;
    font-size: $font-size-17;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;

    &:hover {
      background-color: $color-accent-l20;
    }
  }
}
