@import "../../styles/base/base";
@import "../../styles/mixins/mixins";

.search {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 30%;

  @include respond-to($breakpoint-md, max) {
    width: 50%;
    // height: 50%;
  }

  &__input {
    border: 1px solid $color-dark;
    border-right: none;
    height: 70%;
    padding: 1rem;
    width: 100%;
    border-top-left-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }

  &__button {
    background-color: $color-white;
    border: 1px solid $color-dark;
    border-left: none;
    color: $color-dark;
    font-size: $font-size-17;
    height: 70%;
    width: 4rem;
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }
}
