@import "../../styles/base/base";

.footer {
  background-color: $color-main-accent;
  color: $color-white;
  display: flex;
  font-size: $font-size-12;
  height: 8vh;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  z-index: $z-index-above;

  &__copyright {
    align-self: flex-end;
  }

  &__arrow-up {
    align-self: center;
    cursor: pointer;
    font-size: 2rem;
    padding-right: 1rem;
  }
}
