@import "../../../styles/base/base";
@import "../../../styles/mixins/mixins";

.companies {
  font-weight: 700;

  &__title {
    @include line-under($color-main-accent, 0.4rem);

    @include respond-to($breakpoint-lg-s, max) {
      margin-top: 5rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-to($breakpoint-lg-s, max) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    font-weight: 500;
    padding: 2rem;
  }

  &__logo {
    max-height: 12rem;
    max-width: 12rem;
  }

  &__instead-logo {
    border: 1px solid rgb(228, 227, 227);
    border-radius: $border-radius-base;
    height: 10rem;
    padding-top: 2rem;
    text-align: center;
    width: 12rem;
  }
}
