.new-movies_container {

width: 90vw;
margin: 60px auto;
}

.new-movies_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.new-movies_items .result-item {
flex: 0 1 15vw;
}

.new-movies_items .result-item img {
height: 300px;
}


.upcomming-container {
 background-color: rgba(219, 224, 224, 0.931);
 padding: 20px 0;
}


.new-movies_home {
  max-height: 532px;
  overflow: hidden;
}

.new-movies_header {
  text-align: center;
}