@import "../../styles/base/base";

.new-movies {
  &--collapsed {
    max-height: 51rem;
    overflow: hidden;
  }

  &__header {
    text-align: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__counts {
    margin-top: 3rem;
    font-weight: 700;
  }
}
