@import "../../styles/base/base";

.crew-item {
  padding: 2rem 1rem;

  &__title {
    position: relative;
    width: fit-content;

    &::before {
      content: "";
      position: absolute;
      height: 4px;
      width: 100%;
      background: $color-main-accent;
      bottom: 3px;
      z-index: $z-index-behind;
    }
  }
}
