@import "../../styles/base/base";

.popular-movies {
  &__header {
    text-align: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__loader {
    width: 100%;
    height: 80vh;
  }
}
