.search-line {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #d1bbb5;
  
}
.search-line input {
  height: 80%;
  width: 30%;
  border: 1px solid #546A7B;
}

.search-line button {
  height: 80%;
  border: none;
  background-color: #74685e;
  color: white;
}