@import "../../styles/base/base";

.genres-list {
  display: flex;
  flex-wrap: wrap;
  width: 32rem;

  &__genre {
    width: 50%;

    &:hover {
      background-color: $color-accent-l20;
    }
  }

  &__link {
    display: block;
    padding: 1rem;
    width: 100%;
  }
}
