@import "../../styles/base/base";

.navigation {
  align-items: center;
  background-color: $color-main-accent;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  display: flex;
  height: $height-navigation;
  justify-content: space-between;
  padding: 0 9vw;
  margin-bottom: 3rem;

  &__list {
    align-items: center;
    display: flex;
  }

  &__list-item {
    margin-right: 2rem;
  }

  &__link {
    border-radius: $border-radius-base;
    color: $color-dark;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;

    &:hover {
      background-color: $color-accent-l20;
    }
  }
}
