*,
*:before,
*:after {
  box-sizing: border-box;

}
html {
  scroll-behavior: smooth;

}
body,
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}


ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0
}

a {
  text-decoration: none;
  color: black
}

