@import "../../styles/base/base";
@import "../../styles/mixins/mixins";

.details {
  display: grid;
  grid-template-areas:
    "title title"
    "image descriprion"
    "cast cast"
    "crew companies";
  grid-template-columns: 1.2fr 0.8fr;
  margin: 3rem auto;
  width: 80vw;

  @include respond-to($breakpoint-lg, max) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to($breakpoint-lg-s, max) {
    grid-template-areas:
      "title title"
      "image image"
      "descriprion descriprion"
      "cast cast"
      "crew crew"
      "companies companies";
  }

  &__companies,
  &__crew {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
    grid-area: title;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  &__year {
    font-size: 17px;
    margin: 0 auto;
    margin: 0 auto;
  }

  &__image {
    grid-area: image;
  }

  &__description {
    grid-area: descriprion;
  }

  &__cast {
    grid-area: cast;
    padding: 3rem 0;
  }

  &__crew {
    background-color: #e5e4e23f;
    grid-area: crew;
  }

  &__companies {
    grid-area: companies;
  }
}
