@import "../../../styles/base/base";

$_color-header-back: rgb(190, 190, 190);
$_color-header-overlay: rgba(59, 59, 59, 0.5);

.header {
  background-color: $_color-header-back;
  background-image: url("../../../assets/movie.png");
  background-size: contain;
  height: $height-header;
  position: relative;
  width: 100vw;

  &__overlay {
    background-color: $_color-header-overlay;
    display: grid;
    height: 100%;
    left: 0;
    place-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  &__title {
    color: $color-accent-l40;
    font-size: 3.6rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }
}
