$color-main-accent: rgb(216, 184, 81);
$color-accent-l20: lighten($color-main-accent, 20%);
$color-accent-l30: lighten($color-main-accent, 30%);
$color-accent-l40: lighten($color-main-accent, 40%);
$color-dark: rgba(68, 68, 68, 0.972);

$color-button: rgb(43, 95, 19);

$color-white: #fff;
